<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

	<Appenders>

		<!-- console appender -->
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} - %msg%n" />
		</Console>

		<!-- file appender logs complets -->
		<RollingFile name="complet-log" fileName="${sys:log.path}/complet.log" filePattern="${log-path}/complet-%d{yyyy-MM-dd}.log">
			<!-- log pattern -->
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c{1} - %msg%n</pattern>
			</PatternLayout>

			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<!-- file appender logs plantages -->
		<RollingFile name="plantage-log" fileName="${sys:log.path}/plantage.log" filePattern="${log-path}/plantage-%d{yyyy-MM-dd}.log">
			<!-- log pattern -->
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
			</PatternLayout>

			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="plantage-log" level="debug" additivity="false">
			<appender-ref ref="plantage-log" level="info" />
		</Logger>
		<Logger name="complet-log" level="debug" additivity="false">
			<appender-ref ref="console-log" />
			<appender-ref ref="complet-log" level="info" />
		</Logger>
		<Root level="debug" additivity="false">
			<AppenderRef ref="console-log" />
		</Root>
	</Loggers>
</Configuration>